
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
 
.boxMessage{
  background-color: #F8F9FA;
  border: 2px solid  #E5E9F2;
  width: 360px;
  height: 65px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxMessage .boxtitle{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.boxMessage p{
  margin-bottom: 2px ;
   padding: 6px;
}